{
  "presets": ["es2015", "stage-2", "react"], // preset 似乎不支持箭头函数，故暂时用es2015
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css" // or 'css'
      }
    ],
    "babel-plugin-transform-runtime",
    "transform-object-rest-spread"
  ] // 转换 rest 和 spread operator  runtime转异步函数
}
