@import 'styles/tools.scss';

.item {
  @include flex-center;
  flex: 1;
  align-items: 'center';
  .itemImage {
    width: 50px;
    height: 50px;
  }
  .itemText {
    font-size: 18px;
    display: inline-block;
    width: 60%;
    text-align: center;
    height: $headerHeight;
    line-height: $headerHeight;
    &:hover {
      border-bottom: 2px solid green;
    }
    @include s-hover;
  }
  .activeItemText {
    @extend .itemText;
    border-bottom: 2px solid green;
    font-weight: bold;
  }
}
