@import 'styles/tools.scss';

.menuContainer {
  @include flex-sa;
  flex: 1;
  background-color: rgb(41, 226, 56);
}
.iconMenuContainer {
  @extend .menuContainer;
  max-width: 200px;
  background-color: yellow;
}
