@import '../tools.scss';

.mainLayout {
  width: 100%;
  .slideItem {
    height: 578px;
    background: url(../../assets/imgs/main_slide2.png) no-repeat center/cover;
    background-color: green;
    font-size: 0;
  }
  .yishu {
    width: 100%;
    @include flex-center;
    .yishuContainer {
      width: 1100px;
      min-height: 700px;
      .bottom {
        .commonLine {
          @include flex-sb;
          margin-bottom: 110px;
          .itemLayout {
            @include flex-center;
            @include flexy;
            .seperator {
              margin: 10px 0;
            }
            .name {
              font-size: 17px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
