@import 'styles/tools.scss';

.layout {
  width: 1100px;
  margin: 0 auto;
  p {
    width: 1100px;
    margin: 0 auto;
    font-size: 21px;
    font-family: FangSong;
    line-height: 1.8;
    font-weight: bold;
    text-align: center;
  }
}
