@import './tools.scss';

// :global 摆脱 css-modules 限制
:global {
  #root {
    width: 100%;
    height: 100%;
  }
}

.App {
  @include flexy;
  height: 100%;
  .header {
    height: $headerHeight;
    width: $mainContentWidth;
    margin: 0 auto;
    background-color: $mainBg;
  }
  .content {
    flex: 1;
  }
  .footer {
    min-height: $footerHeight;
  }
}
