@import 'styles/tools.scss';

.footer {
  width: 100%;
  min-width: $mainContentWidth;
  padding: 0 100px;
  height: $footerHeight;
  background: $footerBg;
  .content {
    max-width: $mainContentWidth;
    height: 100%;
    margin: 0 auto;
    @include flexy;
    @include flex-center;
    .top {
      height: 200px;
      width: 100%;
      @include flex-sb;
      align-items: flex-start;
      color: #ffffff;
      font-size: 16px;
      .column {
        .title {
          font-size: 25px;
          font-weight: bold;
          color: white;
          @include fanti;
        }
        .detail {
          margin-top: 20px;
          font-size: 14px;
          color: #fffffe;
          a {
            color: #fffffe;
            display: inline-block;
            margin-right: 20px;
            letter-spacing: 2px;
            margin-bottom: 20px;
            &.detail-a {
              display: block;
            }
          }
          img {
            display: inline-block;
            width: 139px;
            height: 139px;
            background-color: gray;
          }
        }
      }
      .column1 {
        width: 417px;
      }
    }
    .bottom {
      width: 100%;
      height: 20px;
      font-size: 12px;
      @include flex-sb;
      span {
        color: #fff;
      }
    }
  }
}
