@import '../../styles/tools.scss';

.subMenu {
  width: 100%;
  min-width: 1366px;
  height: $subMenuHeight;
  line-height: $subMenuHeight;
  background: $footerBg;
  .subMenuWrap {
    width: 80%;
    margin: 0 auto;
    @include flex;
    a {
      margin-right: 60px;
      width: 100px;
      color: white;
      font-size: 17px;
      font-weight: bold;
      text-align: center;
      &.active {
        color: black;
        &:before,
        &:after {
          content: '/';
          margin-right: 10px;
        }
        &:after {
          margin-right: 0px;
          margin-left: 10px;
        }
      }
    }
  }
}
